{
	"svelteSortOrder": "styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": false,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true
}
