<header class="header min-shadow">
	<ul class="header-items">
		<li>
			<h1>GraniteCode.com - CodingBase</h1>
		</li>
	</ul>

	<nav class="header-nav">
		<input id="menu-toggle" type="checkbox" />
		<label for="menu-toggle"></label>

		<ul class="nav-menu">
			<li><a class="nav-menu__link" href="/">Home</a></li>
			<li><a class="nav-menu__link" href="/blog">Blog</a></li>
			<li><a class="nav-menu__link" href="/about">About</a></li>
			<li><a class="nav-menu__link" href="#login">Login</a></li>
		</ul>
	</nav>
</header>