<div class="side-card">
	<img src="https://picsum.photos/200" />
	<div class="flex-row">
		<button class="button card-button">stop</button>
		<button class="button card-button">ok</button>
	</div>
</div>