@import url('https://fonts.googleapis.com/css?family=Lora|PT+Serif|Slabo+27px|Alegreya+Sans+SC|Merriweather|Noto+Serif|Open+Sans|Roboto|Source+Sans+Pro|Vollkorn|Work+Sans|Abril+Fatface&display=swap');

html {
	box-sizing: border-box;
	font-size: calc(0.9em + 0.1vw);
}

*,
*::before,
*::after {
	margin: 0;
	box-sizing: inherit;
}

:root {
	--clr-header: #596DA0;
	--clr-header-h2: #867555;
	--clr-header-text: #FFEECA;
	--clr-heading:hsla(60, 28%, 82%,.3);
	--clr-heading-text: #364D7D;
	--clr-body: #A6ABBD;
	--clr-body-text: #303030;
	--clr-content: #ffffff;
	--clr-footer-section:#111;
	--clr-footer-text:#aaa;
	--clr-shadow-button: hsla(0, 0%, 22%, 0.3);
	--clr-outline-focus: rgba(255, 52, 228, 0.856);
	--clr-button-default: #b0b0b0;
	--clr-dark: #263632;
	--clr-light: #b9b9b9
	--clr-accent: rgba(255, 52, 228, 0.856);
	--clr-shadow: hsla(0, 0%, 22%, 0.3);
	--clr-text-light: #b9b9b9;
	--clr-white: #fff;
	--clr-black: #000;
	--clr-hi-light: rgba(255, 52, 228, 0.856);
	--clr-action: #56AAFF;
}

body {
	background-color: var(--clr-body);
	color: var(--clr-body-text);
	min-height: 100vh;
}

html {
	font-family: 'Roboto', 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana,
		sans-serif;
}

h1,
h2,
h3 {
	font-family: 'PT Serif','Source sans Pro','Merriweather','Abril Fatface', 'Noto Serif', 
		'Alegreya Sans SC', 'Vollkorn', 'Times New Roman', Times, serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	/* text-transform: capitalize; */
	padding: 0.1rem 0.3rem;
}

.content-head {
	background-color: var(--clr-heading);
	color: var(--clr-heading-text);
	/* border-radius: .2em; */
	/* box-shadow: 3px 2px 12px 2px var(--clr-shadow-button); */
	/* box-shadow: 3px 2px 16px 4px var(--clr-shadow-button); */
	margin-bottom: 1em;
	/* width: fit-content; */

}

h1 {
	font-size: 1.8em;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6rem;
	padding: 0 0 0.2rem;
}

button,
input,
textarea {
	font-size: inherit;
	border: 0;
	outline: none;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
}

button {
	text-transform: uppercase;
	background-color: var(--clr-button-default);
}

*:focus {
	outline: 2px solid var(--clr-outline-focus);
}

.container {
	max-width: 50rem;
	width: 60vw;
	min-width: 14cm;
	margin: 1em auto;
	padding: 1em 1em;
}

.header {
	background-color: var(--clr-header);
	color: var(--clr-header-text);
	margin: 0;
	padding: 0 0.5em;
}

.min-shadow {
	box-shadow: 3px 2px 12px 2px var(--clr-shadow-button);
}

.min-round {
	border-radius: .2em;
}

.med-round {
	border-radius: .3em;
}

.neg-margin {
	margin: 1rem -0.5rem -0.5rem;
}

.bg-heading{
	background: linear-gradient(rgb(172, 245, 169) 0%, rgb(168, 198, 255) 90%);
	background-blend-mode: screen;
	background-size: cover;
}

.bg-img-coffee {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(49, 49, 49) 90%),
		url('../images/silver-ipad-545057.jpg') no-repeat center center fixed;
	background-blend-mode: screen;
	background-size: cover;
}

.h-flex-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 1em 0;
}

.v-flex-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: .3em;
	border-radius: .3em;
	overflow: hidden;
	background-color: var(--clr-content);
}

.main-content {
	flex-grow: 1;
	flex-basis: 60%;
	max-width: 50em;
	margin: 0 auto;
}

.sidebar-left {
	flex-grow: 1;
	min-width: 8em;
	padding: 0em;
}

.sidebar-right {
	flex-grow: 1;
	min-width: 8em;
	padding: 0em;
}

.border-small {
	border: 1px solid silver;
}

/* @media (max-width: 768px) {
	.sidebar-right {
		display: none;
	}
}

@media (max-width: 480px) {
	.sidebar-left {
		display: none;
	}
} */

.margin-auto {
	margin: auto;
}

.block {
	width: auto;
	height: 200px;
	background: url('../images/silver-ipad-545057.jpg') center center no-repeat;
	background-size: cover;
	margin: 1em -3em;
}

.cover-container {
	position: relative;
	/* width: 100%; */
	margin: 1em 0;
	z-index: 1;
	/* box-shadow: 3px 2px 16px 4px var(--clr-shadow-button); */
	border-radius: 0.2em;

	overflow: hidden;
}

.cover-image {
	display: block;
	width: 1100px;
	/* height: 200px; */
	margin: 0;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
}

.footer {
	padding: 2rem 5%;
	background-color:var(--clr-footer-section);
	color: var(--clr-footer-text);
}

.nav-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}

.side-card {
	display: flex;
	flex-direction: column;
	background: #ddd;
	width: 15vw;
	max-width: 80%;
	margin: auto;
	margin-bottom: 2em;
	/* box-shadow: 3px 2px 12px 2px var(--clr-shadow-button); */
	/* border: 1px solid #ddd; */
	border-radius: 0.2em;
	padding: 0;
	overflow: hidden;
}

.side-card > img {
	object-fit: cover;
	height: auto;
}

.nav-menu > li {
	padding: 0.2em;
	transition: all 100ms ease-in-out;
}

.nav-menu > li:hover {
	background: rgba(200, 200, 200, 0.4);
	filter: brightness(1.2);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-items: stretch;
	width: 100%;
	justify-content: space-evenly;
}

.flex-row button {
	width: 100%;
	margin: 2px;
}

.flex-row button:hover {
	width: 100%;
	filter: brightness(1.2);
}
