.control {
	display: flex;
	margin-top: 0;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.2em 0;
	& > :not(:last-child) {
		margin-right: 8px;
	}
}
.position {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr 0.8fr 0.5fr 1fr 8em;
	grid-auto-rows: 1.8em;
	align-items: center;
	justify-items: right;
}
.right-justify {
	justify-self: right;
}

.item-control {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.1em;
	border: none;
	box-shadow: 0 0 0 0.2em transparent, 0 0 0.2em 0 var(--clr-dark);
	border-radius: 0.2em;
	padding: 0;
	color: var(--clr-dark);
	&:active {
		box-shadow: 0 0 0 0.2em var(--clr-white);
	}
}
