<header class="header min-shadow">
	<ul class="header-items">
		<li>
			<h1 id="app-title">GraniteCode.com - CodingBase</h1>
		</li>
	</ul>

	<nav class="header-nav">
		<input id="menu-toggle" type="checkbox" />
		<label for="menu-toggle"></label>

		<ul class="nav-menu">
			<li><a class="nav-menu__link" href="/">Home</a></li>
			<li><a class="nav-menu__link" href="/blog">Blog</a></li>
			<li><a class="nav-menu__link" href="/about">About</a></li>

			<li>
				{{#if username}}
				<a class="nav-menu__link" href="/auth/logout">Logout {{ username }}</a>
				{{else}}
				<a class="nav-menu__link" href="/login">Login</a>
				{{!-- <button id="login-button" class="nav-menu__link">Login</button> --}}
				{{/if}}
			</li>
		</ul>
	</nav>
</header>