<main class="main-content">
	<h3 class="content-head">
		{{ title }}
	</h3>
	<div class="cover-container">
		<img class="cover-image" src="images/silver-ipad-545057.m.jpg" />
	</div>
	<p>
		{{ article }}
	</p>
	<div id="app" />

	<button class="button" id="query-button">stop</button>
</main>