<main class="main-content">
	<h3 class="content-head">
		{{ title }}
	</h3>

	{{#if username}}
	<div id="app" />
	{{else}}
	<div>Please <a href="/login">Login</a> or <a href="/register">Register</a></div>
	{{/if}}
</main>