<aside class="sidebar">
	<div class="side-card">
		<img src="https://picsum.photos/250" />
	</div>
	<div class="side-card">
		<img src="https://picsum.photos/300" />
	</div>
	<div class="side-card">
		<img src="https://picsum.photos/300/400" />
	</div>
	<div class="side-card">
		<img src="https://picsum.photos/150/200" />
	</div>
</aside>