<aside class="sidebar">
	<div class="side-card">
		<img src="https://picsum.photos/600/400" />
	</div>
	<div class="side-card">
		<img src="https://picsum.photos/200" />
		<div class="flex-row">
			<button class="card-button">stop</button>
			<button class="card-button">ok</button>
		</div>
	</div>
</aside>