<div class="h-flex-container min-shadow">


	<main class="main-content">
		{{#if username}}
		<div id="app" />
		{{else}}
		<div>Please <a href="/login">Login</a> or <a href="/register">Register</a></div>
		{{/if}}
	</main>

</div>