<div class="h-flex-container">


	<main class="main-content">
		{{#if username}}
		<div id="app" />
		{{else}}
		<div class="main-content__noauth">
			<a class="" href="/login">Login</a>
			<div>or</div>
			<a class="" href="/register">Register</a>
		</div>
		{{/if}}
	</main>

</div>