<form id="form-submit" class="login-form" action='/auth/login' method="post">
	<h3>Login Form</h3>
	<input type="text" placeholder="email" name="username" />
	<input type="password" placeholder="password" name="password" />
	<div class="h-controls">
		<button type="submit" class="button">Submit</button>
		{{!-- <button id="form-cancel" type="button" class="button">
			Cancel
		</button> --}}
		<a class="nav-menu__link button hover-brighten" href="/">Cancel</a>
	</div>
	<input type="hidden" value="{{ csrfToken }}" name="_csrf" />
	<hr />
	<a class="link-register nav-menu__link button hover-brighten" href="/register">Create Account</a>
</form>