<form id="form-submit" class="login-form" action='/auth/register' method="post">
	<h3>Create Account</h3>
	<input type="email" placeholder="email" name="username" required />
	<input type="password" placeholder="password" name="password" required />
	<input type="password" placeholder="password" name="password-match" required />
	<span class="form-error">{{ errors }}</span>
	<div class="h-controls">
		<button type="submit">Submit</button>
		<button id="form-cancel" type="button">
			Cancel
		</button>
	</div>
	<input type="hidden" value="{{ csrfToken }}" name="_csrf" />
</form>